<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Carved Rock Fitness Admin Site - Delete</title>
        <meta name="author" content="Nate Taylor">
        </meta>
        <link rel="stylesheet" href="/stylesheets/tachyons.min.css" />
        </link>
        <link rel="stylesheet" href="/stylesheets/style.css">
        </link>
        <script src="/javascripts/axios.min.js"></script>
        <script src="/javascripts/lodash.min.js"></script>
    </head>

    <body>
        <nav class=" mb2">
            <ul>
                <li><a href=" /create">Create</a></li>
                <li><a href=" /read">Read</a></li>
                <li><a href="/update">Update</a></li>
                <li class="active"><a href=" /delete">Delete</a></li>
                <li><a href=" /search">Search</a></li>
            </ul>
            <img class="fr logo" src="/images/carved-rock-logo-yellow.png">
        </nav>
        <div class="pl4">
            <input type=" text" id="product-id" class="w-30" /> <button class="p1" id="delete">Delete</button>
        </div>
    </body>
    <footer>
        <script src="/javascripts/delete.js"></script>
    </footer>

</html>