<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Carved Rock Fitness Admin Site - Get</title>
        <meta name="author" content="Nate Taylor">
        </meta>
        <link rel="stylesheet" href="/stylesheets/tachyons.min.css" />
        </link>
        <link rel="stylesheet" href="/stylesheets/style.css">
        </link>
        <script src="/javascripts/axios.min.js"></script>
        <script src="/javascripts/lodash.min.js"></script>
    </head>

    <body>
        <nav class=" mb2">
            <ul>
                <li><a href=" /create">Create</a></li>
                <li class="active"><a href=" /read">Read</a></li>
                <li><a href="/update">Update</a></li>
                <li><a href=" /delete">Delete</a></li>
                <li><a href=" /search">Search</a></li>
            </ul>
            <img class="fr logo" src="/images/carved-rock-logo-yellow.png">
        </nav>
        <div class="pl4">
            <input type=" text" id="product-id" class="w-30" /> <button class="p1" id="load">Load</button>
            <div id='results'>
                <h2 class="hidden">Product Not Found</h2>
                <template id='result'>
                    <div id="product-result">
                        <h1 id="title" class="f-headline lh-solid"></h1>
                        <div class="f1"> $<span id="price" class="yellow"></span>
                        </div>
                        <div class="pv1">
                            <label class="f4">In stock: </label><span id="quantity" class="f5"></span>
                        </div>
                        <div class="pv1">
                            <label class="f4">Color: </label><span id="color" class="f5 ttc"></span>
                        </div>
                        <p id="description" class="f4 mw8"></p>
                    </div>
                </template>
                <template id='list-result'>
                    <ul id="product-list">
                        <li>
                            <div id="product-id" class="id gray"></div>
                            <div id="product-name" class="f5 dark-blue"></div>
                            <div id="product-price" class="yellow"></div>
                        </li>
                    </ul>
                </template>
            </div>
        </div>
    </body>
    <footer>
        <script src="/javascripts/read.js"></script>
    </footer>

</html>